<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>form page</title>
	</head>
	<body>
		<h1>this is the form page</h1>
		<form method="POST" action="/new">
			<label name="username" for="username">
				<span>Username</span>
				<input name="username" type="text" />
			</label>
			<label for="messagetext">
				<span>Enter your message:</span>
				<input name="messagetext" type="text" />
			</label>
			<button type="submit">Submit message</button>
		</form>
	</body>
</html>
