<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Messaging App</title>
	</head>
	<body>
		<h1>Messages</h1>
		<div class="message-wrapper">
			<ul>
				<% console.log(messages) %> <% messages.forEach((message) => { %>
				<li><%= message.text %></li>
				%> <% }) %>
			</ul>
		</div>
	</body>
</html>
